.SearchResults {
  width: 100%;
  max-height: 729px;
  padding: 0 4rem;
  overflow-y: scroll;
  z-index: 999;
}

.Tracklist {
  display: flex;
  width: 100%;
}

.Tracklist-tracks {
  width: 50%;
}

.Tracklist-albums {
  width: 50%;
}

.Button {
  float: right;
  padding: .40rem !important;
}

