.ResultContainer {
  display: grid;
  grid: repeat(auto-fill, minmax(50%, 100%)) / repeat(auto-fill, minmax(50%, max-content));
  justify-items: center;
  width: 100%;
  height: fit-content; 
  overflow-y: scroll;
  padding: 5%;
}