button.Button {
  cursor: pointer;
  padding: .40rem 2rem;
  height: 1.7rem;
  border: 0;
  color: white;
  border-radius: 20px;
  background-color: rgb(0, 8, 33);
  font-size: .833rem;
  box-shadow: 0 4px 2px 2px #000000d0;
  transition: background-color .25s;
}

button.Button:hover {
  background-color: rgb(0, 64, 132);
  box-shadow: 0 2px 1px 1px #000000d0;
}
