.Text {
  margin: auto 0;
}

.Text p {
  font-size: 0.67rem;
  margin: 8px 0;  
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 8px #000000;
}

p:last-child {
  font-weight: 100;
}
