.Track {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: transform 300ms;
  /* background-color: #100e17; */
  width: 99%;
  margin: 5px;
  
}

.shadow {
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.50), 0 9px 46px 8px rgba(0,0,0,0.30), 0 11px 15px -7px rgba(0,0,0,0.70);
}

.Track:hover {
  box-shadow: 0 15px 40px 1px rgba(0,0,0,0.30), 0 12px 18px 1px rgba(0,0,0,0.30);
  transform: scale(1.05);
  z-index: 999;
}

.Track-information img {
  height: 60px;
  margin: 10px;
}

.Track-information {
  display: flex;
  align-items: center;
  width: 100%;
}

.Album-img {
  flex-grow: 0.5;
}

.Track-name {
  flex-grow: 6;
}

.Track-information .Time {
  flex-grow: 1;
}
