.Track {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: transform 300ms;
  width: 100%;
}

.Track:hover {
  box-shadow: 0px 5px 8px 2px rgb(0, 0, 0.7);
  transform: scale(1.05);
}

.Track-information img {
  height: 60px;
  margin: 10px;
}

.Track-information {
  display: flex;
  align-items: center;
  width: 100%;
}

.Album-img {
  flex-grow: 0.5;
}

.Track-name {
  flex-grow: 6;
}

.Track-information .Time {
  flex-grow: 1;
}
