.Bar-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.Bar {
  height: 3px;
  background-color: yellow;
  width: 100%;
  appearance: none;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
} 






