.Grid {
  display: grid;
  grid: repeat(auto-fit, minmax(max-content, 20%)) / repeat(auto-fit, minmax(50%, auto));
  position: relative;
  height: 100%;
  width: 95%;
  justify-items: center;
  margin: 1rem auto 0 auto;
}


@media only screen and (max-width: 1200px) {
  .Grid {
    grid: repeat(auto-fit, minmax(max-content, 20%)) / repeat(auto-fit, minmax(50%, 100%));
  }
}