.Grid {
  display: grid;
  grid: repeat(auto-fit, minmax(max-content, 20%)) / repeat(auto-fit, minmax(50%, auto));
  height: 90%;
  width: 95%;
  justify-items: center;
  margin: 1rem 1rem 0 1rem;
}


@media only screen and (max-width: 1200px) {
  .Grid {
    grid: repeat(auto-fit, minmax(max-content, 20%)) / repeat(auto-fit, minmax(50%, 100%));
  }
}