.Card {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 20, 0.7);
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5), 0px 4px 10px 1px rgba(0, 0, 0, 0.8);
  transition: all 300ms;
  text-align: center;
}

.Card:hover {
  box-shadow: 0px 5px 30px 8px rgb(0, 0, 0, 0.5), 0px 5px 15px 4px rgb(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.Card-Img img {
  height: 150px;
  max-width: 100%;
  background-color: black;
}

.Action-Overlay {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  width: inherit;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity:0;
  transition: opacity 0.3s linear;
}

.Action-Overlay:hover {
  opacity: 1;
}
