.Card {
  width: 125px;
  height: 125px;
  background-color: rgba(0, 0, 20, 0.7);
  box-shadow: 0px 11px 20px 10px rgba(0, 0, 0, 0.7);
}

.Card:hover {
  box-shadow: 0px 20px 20px 15px rgb(0, 0, 0.9);
  transform: scale(1.25);
}

.Card img {
  max-height: 125px;
  width: auto;
}
