.SearchBar {
  grid-area: SearchBar;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.SearchBar input {
  width: 300px;
  padding: .30rem 0;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
  margin-left: 33%;
}

.SearchBar .Search_Button {
  position: relative;
  right: 27px;
  color: rgb(0, 8, 33);
}
