.Navbar-wrapper {
  grid-area: Navbar;
  height: 100%;
  background-color: #003809;
  /* background-color: rgb(0, 8, 33); */
}

.Navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin: 9rem 0 auto 1rem;
}

a {
  text-decoration: none;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.active {
  color: rgb(255, 255, 255);
}


