.Navbar-wrapper {
  grid-area: Navbar;
  height: 100%;
  background-color: rgba(0, 0, 60, 0.7);
}

.Navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  margin: 10rem 2rem;
}

.Navbar h3 {
  font-size: 1rem;
}

.Navbar h4 {
  font-size: 0.88rem;
  font-weight: 100;
  margin: 0.22rem
}
