.Player {
  grid-area: Player;
  display: flex;
  justify-content: center;
  background-color: rgb(3, 0, 51);
  height: 80px;
  width: 100%;
}

.track-info {
  margin: auto;
  width: 33%;
  text-align: center;
}

.Player .Control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
}


.Player .Player-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 20%;
  margin-top: 20px;
}

.volume {
  width: 33%;
}
