* {
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-areas: "Navbar SearchBar SearchBar SearchBar"
                       "Navbar Main Main Main"
                       "Player Player Player Player";
  grid-template-columns: 0.4fr repeat(3, 2fr);
  grid-template-rows: 2.22rem 1fr 6.375rem;    
  background-color: #100e17;
  /* background-color: rgb(0, 5, 56); */
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

@media only screen and (max-width: 1400px) {
  html {    
    font-size: 17px;
  }
}

@media only screen and (max-width: 1200px) {
  html {    
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  html {    
    font-size: 15px;
  }
}


@media only screen and (max-width: 900px) {
  html {    
    font-size: 14px;
  }
}


