.Player {
  grid-area: Player;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #100e17;
  /* background-color: rgb(3, 0, 51); */
  height: 5.555rem;
  width: 100%;
  padding: 0 2rem;
}

.Track-info {
  width: 30%;
}

.Player .Control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: auto;
}

.Player .Player-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 35%;
}

.Control-Leftside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.volume-bar {
  width: 5rem;
  margin: 0 0.22rem;
}

.Track-Bar {
  width: 80%;
  margin: 0 0.555rem;
}

.Current-Playlist-Container {
  position: absolute;
  width: 275px;
  height: 400px;
  background-color: #003809;
  right: 0;
  bottom: 102px;
  overflow-y: scroll;
}

.Current-Playlist-Container .Grid {
  display: block;
}

.Player .Track-information img,
.Player .Action-Overlay {
  display: none;
}


/* @media only screen and (max-width: 1200px) {
  .Player {
    font-size: 10px;
  }
} */

