.PlaylistDisplay {
  border-bottom: 1px solid grey;
}

.Grid {
  display: grid;
  grid: repeat(auto-fill, 150px) / repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: 40px;
  justify-items: center;
  margin: 50px auto 50px auto;  
}

.Show-more {
  display: inline-block;
  margin: auto 0 0 0;
}